Voice Agent.json
{
  "name": "Voice Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8db1d48b-573b-4bb9-bf26-935a1f95bba7",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -272,
        48
      ],
      "id": "44ed53da-1fe0-4846-876c-6a99afb6b611",
      "name": "Webhook",
      "webhookId": "8db1d48b-573b-4bb9-bf26-935a1f95bba7"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=📋 Context:\nCurrent Date & Time: {{ $now.format('YYYY-MM-DD HH:mm:ss Z') }}\nConversation Transcript: {{ $('Webhook').item.json.body.call.transcript }}\n\n🎯 Objective:\nAct as a smart booking assistant. Based on the user's intent, check availability, book appointments, or cancel appointments using Google Calendar. Extract relevant information from the conversation transcript to personalize the booking.And if the user want to book an appointment use the calendar tool.\n\n📥 Inputs:\n\nintent: {{ $('Webhook').item.json.body.args.intent }}\n\npreferred_time: The user's requested booking time in ISO 8601 format with timezone\n→ {{ $('Webhook').item.json.body.args.preferred_time }}\n\nstartDate and endDate: Pre-calculated Unix timestamps (in milliseconds) representing the full range of the booking day\n→ {{ $json.startDate }} to {{ $json.endDate }}\n\ntranscript: Full conversation history for extracting user details\n\n📝 Extract from Transcript:\nBefore proceeding with any booking action, analyze the transcript to identify:\n\nCustomer Name: Look for when the user provides their name\n\nAppliance/Service Type: What they need repaired or serviced (e.g., oven, refrigerator, dishwasher)\n\nIssue Description: Brief summary of the problem they're experiencing\n\nContact Number: Phone number provided by the user\n\n🧭 Behavior:\n\n🔁 If intent is check_availability:\n\nCall the Get an event in Google Calendar1 tool to check what slots are already booked within the date range.\n\nDetermine which time slots are available by comparing the requested date/time range against existing calendar events.\n\nFormat and respond with the available options in natural, user-friendly speech:\n\n\"Here are some available times for that day: [Option 1], [Option 2]...\"\n\nIf no slots are available:\n\n\"Unfortunately, there are no open times on that day. Would you like to try another day?\"\n\n📅 If intent is book_appointment:\n\nMANDATORY FIRST STEP: Call the Get an event in Google Calendar1 tool to check if the requested time slot is available.\n\nCheck for conflicts: Compare the preferred_time against ALL existing events returned from the Get tool.\n\nCheck if there's any overlap between the requested time and existing bookings.\n\nA conflict exists if: (requested_start < existing_end) AND (requested_end > existing_start)\n\nBased on availability check:\n\n❌ If the time slot is NOT available (conflicts with existing event):\n\nDO NOT ATTEMPT TO BOOK\n\nRespond immediately:\n\n\"I'm sorry, but that time slot is not available. We already have an appointment scheduled then. Can you choose a different time? Here are some nearby options: [Suggestion 1], [Suggestion 2]\"\n\nSuggest 2-3 alternative time slots that are confirmed available.\n\nIf no alternatives exist that day:\n\n\"Unfortunately, we don't have any available times that day. Would you like to try a different day?\"\n\nSTOP HERE - Do not proceed to booking.\n\n✅ ONLY if the time slot is completely available (no conflicts):\n\nProceed to call the Create an event in Google Calendar tool with these REQUIRED parameters:\n\nStart = {{ $('Webhook').item.json.body.args.preferred_time }}\n\nEnd = (add 1 hour to the start time in ISO 8601 format)\n\nTitle = \"[Customer Name] - [Appliance Type] Repair\"\n\nExample: \"Messi - Oven Repair\"\n\nDescription = Format exactly as:\nCustomer: [Customer Name]\nPhone: [Contact Number]\nService: [Appliance Type] Repair\nIssue: [Brief description of the problem mentioned in transcript]\nBooked at: [Current timestamp]\n\nCRITICAL: You MUST provide the Title and Description parameters when calling the Create event tool. Do not proceed with booking unless you have extracted the customer name, phone, and service type from the transcript.\n\nIf booking successful:\n\n\"Your booking was successful! You're scheduled for [Formatted Date & Time]. We'll send a confirmation to [phone number].\"\n\nIf booking fails:\n\n\"The time was available, but we encountered an issue creating the appointment. Let me hold that time for you while I get this fixed.\"\n\n🗑️ If intent is cancel_appointment:\n\nCall the Get an event in Google Calendar1 tool to find the event matching the user's appointment details (search by customer name or phone number from transcript).\n\nOnce found, call the Delete an event in Google Calendar tool with:\n\nEvent_ID = (the ID of the event to cancel)\n\nIf successful:\n\n\"Your appointment has been cancelled successfully, [Customer Name]. If you need to reschedule, just let me know!\"\n\nIf the event cannot be found or deletion fails:\n\n\"I couldn't find that appointment or encountered an issue cancelling it. Could you verify the appointment date and time?\"\n\n🧠 Critical Rules:\n\nNEVER book an appointment without first checking availability with the Get tool.\n\nNEVER book an appointment if the time conflicts with an existing event.\n\nALWAYS inform the user immediately if their requested time is unavailable.\n\nALWAYS suggest alternative times when the requested slot is unavailable.\n\nAlways format times in a user-friendly, natural format (e.g., \"Thursday, May 15th at 2pm\").\n\nDefault appointment duration is 1 hour unless specified otherwise.\n\nMANDATORY: DO NOT create a calendar event without including both Title and Description fields populated with information from the transcript.\n\nIf any required information (name, phone, service type) is missing from the transcript, ask the user to provide it BEFORE attempting to book.\n\nUse the current date/time reference to provide context-aware responses (e.g., \"tomorrow\" vs specific date).",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        528,
        48
      ],
      "id": "e2501a0b-860b-4463-98f5-a22a1cd74856",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        992,
        48
      ],
      "id": "88651f52-0d47-4573-bfc8-1514d28abea2",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9283ec69-f9e4-4115-8544-864f05e4b98d",
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "analyzed",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "post call actions"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0872f70f-584c-4b9f-bea9-7aed5e1a9c7e",
                    "leftValue": "={{ $json.body.args.preferred_time }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "appointment booking"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -48,
        48
      ],
      "id": "1e967dd3-9959-4eb9-910c-e9e882662555",
      "name": "Switch"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "smartnodeaiservices@gmail.com",
          "mode": "list",
          "cachedResultName": "smartnodeaiservices@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "additionalFields": {
          "attendees": [],
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        528,
        272
      ],
      "id": "2647761d-6257-43d6-a405-520a6557bfd3",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "5S53CsGBvQMbt93q",
          "name": "Smart Nodes Auth"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "smartnodeaiservices@gmail.com",
          "mode": "list",
          "cachedResultName": "smartnodeaiservices@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        784,
        272
      ],
      "id": "7f0b75e7-dbc7-4bdb-9341-e39a2491662b",
      "name": "Delete an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "5S53CsGBvQMbt93q",
          "name": "Smart Nodes Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Original ISO timestamp\nconst original = $input.first().json.body.args.preferred_time;\n\n// Parse original date\nconst originalDate = new Date(original);\n\n// Extract year, month, day\nconst year = originalDate.getFullYear();\nconst month = String(originalDate.getMonth() + 1).padStart(2, '0');\nconst day = String(originalDate.getDate()).padStart(2, '0');\n\n// Manually create ISO-like strings with time changes and same offset\nconst startISO = `${year}-${month}-${day}T00:01:00-07:00`;\nconst endISO = `${year}-${month}-${day}T23:59:00-07:00`;\n\n// Convert to Date objects and then get Unix timestamps\nconst startDate = new Date(startISO).getTime();\nconst endDate = new Date(endISO).getTime();\nconst userTime = new Date(original).getTime();\n\n// Return in desired structure\nreturn [\n  {\n    json: {\n      userTime: userTime,\n      startDate: startDate,\n      endDate: endDate\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        48
      ],
      "id": "5e420c21-3fc2-4c8e-894b-f824d4654498",
      "name": "ISO to Unix"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        336,
        288
      ],
      "id": "11890538-9aa0-4c7f-b013-520535369d98",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DEbpmy542VpdsAKa",
          "name": "Voice and Chat"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.srv943207.hstgr.cloud",
            "user-agent": "axios/1.11.0",
            "content-length": "12926",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "100.20.5.228",
            "x-forwarded-host": "n8n.srv943207.hstgr.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "25f73fc82d48",
            "x-real-ip": "100.20.5.228",
            "x-retell-signature": "v=1759484240637,d=94cfae3d517902a3664bfb01be156a14ffd033973ba5e1943b9d3c1024c7bc67"
          },
          "params": {},
          "query": {},
          "body": {
            "call": {
              "call_id": "call_1816583befef9f65013ff07c557",
              "call_type": "phone_call",
              "agent_id": "agent_05ccde1cd87cb69ddacdb83eeb",
              "agent_version": 4,
              "agent_name": "Voice Agent test",
              "retell_llm_dynamic_variables": {
                "first_name": "Jordan"
              },
              "collected_dynamic_variables": {
                "current_agent_state": "appointment_booking",
                "previous_agent_state": "Intro"
              },
              "call_status": "ongoing",
              "start_timestamp": 1759484199834,
              "transcript": "User: Right. I can't\nAgent: Hi, thanks for calling our appliance repair service. This is Alex—how can I assist you today?\nUser: Hi, Alex. Uh, I want to book an appointment, uh, today at five PM. I have a issue with my Owen.\nUser: name is John.\nUser: And my phone number is double two, double four, double six, double eight.\nAgent: Just to confirm, you're requesting service for an oven, and you'd like the technician to come by today at 5 PM. Your name is \nUser: Yeah.\nAgent: John, and your phone number is 224-668. Is that correct?\nUser: Yeah.\nUser: Correct.\n",
              "transcript_object": [
                {
                  "role": "user",
                  "content": "Right. I can't",
                  "words": [
                    {
                      "word": "Right. ",
                      "start": 0.489,
                      "end": 1.049
                    },
                    {
                      "word": "I ",
                      "start": 1.049,
                      "end": 1.129
                    },
                    {
                      "word": "can't",
                      "start": 1.129,
                      "end": 1.4489999
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "Hi, thanks for calling our appliance repair service. This is Alex—how can I assist you today?",
                  "words": [
                    {
                      "word": "Hi, ",
                      "start": 4.753,
                      "end": 5.066
                    },
                    {
                      "word": "thanks ",
                      "start": 5.066,
                      "end": 5.345
                    },
                    {
                      "word": "for ",
                      "start": 5.345,
                      "end": 5.508
                    },
                    {
                      "word": "calling ",
                      "start": 5.508,
                      "end": 5.879
                    },
                    {
                      "word": "our ",
                      "start": 5.879,
                      "end": 6.018
                    },
                    {
                      "word": "appliance ",
                      "start": 6.018,
                      "end": 6.494
                    },
                    {
                      "word": "repair ",
                      "start": 6.494,
                      "end": 6.854
                    },
                    {
                      "word": "service.",
                      "start": 6.854,
                      "end": 7.713
                    },
                    {
                      "word": " This ",
                      "start": 7.7255,
                      "end": 7.9575
                    },
                    {
                      "word": "is ",
                      "start": 7.9575,
                      "end": 8.0855
                    },
                    {
                      "word": "Alex—how ",
                      "start": 8.0855,
                      "end": 8.6075
                    },
                    {
                      "word": "can ",
                      "start": 8.6075,
                      "end": 8.7585
                    },
                    {
                      "word": "I ",
                      "start": 8.7585,
                      "end": 8.8395
                    },
                    {
                      "word": "assist ",
                      "start": 8.8395,
                      "end": 9.1535
                    },
                    {
                      "word": "you ",
                      "start": 9.1535,
                      "end": 9.2925
                    },
                    {
                      "word": "today?",
                      "start": 9.2925,
                      "end": 9.8965
                    }
                  ],
                  "metadata": {
                    "response_id": 1
                  }
                },
                {
                  "role": "user",
                  "content": "Hi, Alex. Uh, I want to book an appointment, uh, today at five PM. I have a issue with my Owen.",
                  "words": [
                    {
                      "word": "Hi, ",
                      "start": 11.568999,
                      "end": 11.888999
                    },
                    {
                      "word": "Alex. ",
                      "start": 11.888999,
                      "end": 12.369
                    },
                    {
                      "word": "Uh, ",
                      "start": 12.369,
                      "end": 12.688999
                    },
                    {
                      "word": "I ",
                      "start": 12.688999,
                      "end": 12.928999000000001
                    },
                    {
                      "word": "want ",
                      "start": 12.928999000000001,
                      "end": 13.089
                    },
                    {
                      "word": "to ",
                      "start": 13.089,
                      "end": 13.249
                    },
                    {
                      "word": "book ",
                      "start": 13.249,
                      "end": 13.409
                    },
                    {
                      "word": "an ",
                      "start": 13.409,
                      "end": 13.568999
                    },
                    {
                      "word": "appointment, ",
                      "start": 13.568999,
                      "end": 14.448999
                    },
                    {
                      "word": "uh, ",
                      "start": 14.449,
                      "end": 14.528999500000001
                    },
                    {
                      "word": "today ",
                      "start": 14.949,
                      "end": 15.348999000000001
                    },
                    {
                      "word": "at ",
                      "start": 15.348999000000001,
                      "end": 15.669
                    },
                    {
                      "word": "five ",
                      "start": 15.669,
                      "end": 15.909
                    },
                    {
                      "word": "PM. ",
                      "start": 15.909,
                      "end": 16.389
                    },
                    {
                      "word": "I ",
                      "start": 16.389,
                      "end": 16.628999
                    },
                    {
                      "word": "have ",
                      "start": 16.628999,
                      "end": 16.788999
                    },
                    {
                      "word": "a ",
                      "start": 16.788999,
                      "end": 16.948999
                    },
                    {
                      "word": "issue ",
                      "start": 16.948999,
                      "end": 17.189
                    },
                    {
                      "word": "with ",
                      "start": 17.189,
                      "end": 17.349
                    },
                    {
                      "word": "my ",
                      "start": 17.349,
                      "end": 17.509
                    },
                    {
                      "word": "Owen.",
                      "start": 17.509,
                      "end": 17.909
                    }
                  ]
                },
                {
                  "role": "user",
                  "content": "name is John.",
                  "words": [
                    {
                      "word": "name ",
                      "start": 18.309,
                      "end": 18.548999000000002
                    },
                    {
                      "word": "is ",
                      "start": 18.548999000000002,
                      "end": 18.708999
                    },
                    {
                      "word": "John.",
                      "start": 18.708999,
                      "end": 18.948999
                    }
                  ]
                },
                {
                  "role": "user",
                  "content": "And my phone number is double two, double four, double six, double eight.",
                  "words": [
                    {
                      "word": "And ",
                      "start": 19.569,
                      "end": 19.809
                    },
                    {
                      "word": "my ",
                      "start": 19.809,
                      "end": 20.208999
                    },
                    {
                      "word": "phone ",
                      "start": 20.208999,
                      "end": 20.449
                    },
                    {
                      "word": "number ",
                      "start": 20.449,
                      "end": 20.689
                    },
                    {
                      "word": "is ",
                      "start": 20.689,
                      "end": 20.929000000000002
                    },
                    {
                      "word": "double ",
                      "start": 20.929000000000002,
                      "end": 21.409
                    },
                    {
                      "word": "two, ",
                      "start": 21.409,
                      "end": 21.809
                    },
                    {
                      "word": "double ",
                      "start": 21.809,
                      "end": 21.969
                    },
                    {
                      "word": "four, ",
                      "start": 21.969,
                      "end": 22.288999
                    },
                    {
                      "word": "double ",
                      "start": 22.288999,
                      "end": 22.448999
                    },
                    {
                      "word": "six, ",
                      "start": 22.448999,
                      "end": 22.769000000000002
                    },
                    {
                      "word": "double ",
                      "start": 22.769000000000002,
                      "end": 23.009
                    },
                    {
                      "word": "eight.",
                      "start": 23.009,
                      "end": 23.169
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "Just to confirm, you're requesting service for an oven, and you'd like the technician to come by today at 5 PM. Your name is ",
                  "words": [
                    {
                      "word": "Just ",
                      "start": 26.081,
                      "end": 26.371
                    },
                    {
                      "word": "to ",
                      "start": 26.371,
                      "end": 26.511
                    },
                    {
                      "word": "confirm, ",
                      "start": 26.511,
                      "end": 27.428
                    },
                    {
                      "word": "you're ",
                      "start": 27.428,
                      "end": 27.66
                    },
                    {
                      "word": "requesting ",
                      "start": 27.66,
                      "end": 28.217
                    },
                    {
                      "word": "service ",
                      "start": 28.217,
                      "end": 28.577
                    },
                    {
                      "word": "for ",
                      "start": 28.577,
                      "end": 28.728
                    },
                    {
                      "word": "an ",
                      "start": 28.728,
                      "end": 28.856
                    },
                    {
                      "word": "oven, ",
                      "start": 28.856,
                      "end": 29.285
                    },
                    {
                      "word": "and ",
                      "start": 29.285,
                      "end": 29.518
                    },
                    {
                      "word": "you'd ",
                      "start": 29.518,
                      "end": 29.738
                    },
                    {
                      "word": "like ",
                      "start": 29.738,
                      "end": 29.947
                    },
                    {
                      "word": "the ",
                      "start": 29.947,
                      "end": 30.063
                    },
                    {
                      "word": "technician ",
                      "start": 30.063,
                      "end": 30.644
                    },
                    {
                      "word": "to ",
                      "start": 30.644,
                      "end": 30.772
                    },
                    {
                      "word": "come ",
                      "start": 30.772,
                      "end": 30.969
                    },
                    {
                      "word": "by ",
                      "start": 30.969,
                      "end": 31.236
                    },
                    {
                      "word": "today ",
                      "start": 31.236,
                      "end": 31.782
                    },
                    {
                      "word": "at ",
                      "start": 31.782,
                      "end": 31.991
                    },
                    {
                      "word": "5 ",
                      "start": 31.991,
                      "end": 32.304
                    },
                    {
                      "word": "PM.",
                      "start": 32.304,
                      "end": 33.117
                    },
                    {
                      "word": " Your ",
                      "start": 33.16275,
                      "end": 33.36075
                    },
                    {
                      "word": "name ",
                      "start": 33.36075,
                      "end": 33.55775
                    },
                    {
                      "word": "is ",
                      "start": 33.55775,
                      "end": 33.70875
                    }
                  ],
                  "metadata": {
                    "response_id": 4
                  }
                },
                {
                  "role": "user",
                  "content": "Yeah.",
                  "words": [
                    {
                      "word": "Yeah.",
                      "start": 33.989,
                      "end": 34.309
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "John, and your phone number is 224-668. Is that correct?",
                  "words": [
                    {
                      "word": "John, ",
                      "start": 33.70875,
                      "end": 34.18475
                    },
                    {
                      "word": "and ",
                      "start": 34.18475,
                      "end": 34.45175
                    },
                    {
                      "word": "your ",
                      "start": 34.45175,
                      "end": 34.61475
                    },
                    {
                      "word": "phone ",
                      "start": 34.61475,
                      "end": 34.85775
                    },
                    {
                      "word": "number ",
                      "start": 34.85775,
                      "end": 35.25275
                    },
                    {
                      "word": "is ",
                      "start": 35.25275,
                      "end": 35.50875
                    },
                    {
                      "word": "224-668. ",
                      "start": 35.50875,
                      "end": 37.34275
                    },
                    {
                      "word": "Is ",
                      "start": 37.38879174804688,
                      "end": 37.493791748046874
                    },
                    {
                      "word": "that ",
                      "start": 37.493791748046874,
                      "end": 37.64479174804688
                    },
                    {
                      "word": "correct?",
                      "start": 37.64479174804688,
                      "end": 38.27179174804687
                    }
                  ],
                  "metadata": {
                    "response_id": 4
                  }
                },
                {
                  "role": "user",
                  "content": "Yeah.",
                  "words": [
                    {
                      "word": "Yeah.",
                      "start": 39.029,
                      "end": 39.349000000000004
                    }
                  ]
                },
                {
                  "role": "user",
                  "content": "Correct.",
                  "words": [
                    {
                      "word": "Correct.",
                      "start": 39.729,
                      "end": 39.969
                    }
                  ]
                }
              ],
              "transcript_with_tool_calls": [
                {
                  "role": "user",
                  "content": "Right. I can't",
                  "words": [
                    {
                      "word": "Right. ",
                      "start": 0.489,
                      "end": 1.049
                    },
                    {
                      "word": "I ",
                      "start": 1.049,
                      "end": 1.129
                    },
                    {
                      "word": "can't",
                      "start": 1.129,
                      "end": 1.4489999
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "Hi, thanks for calling our appliance repair service. This is Alex—how can I assist you today?",
                  "words": [
                    {
                      "word": "Hi, ",
                      "start": 4.753,
                      "end": 5.066
                    },
                    {
                      "word": "thanks ",
                      "start": 5.066,
                      "end": 5.345
                    },
                    {
                      "word": "for ",
                      "start": 5.345,
                      "end": 5.508
                    },
                    {
                      "word": "calling ",
                      "start": 5.508,
                      "end": 5.879
                    },
                    {
                      "word": "our ",
                      "start": 5.879,
                      "end": 6.018
                    },
                    {
                      "word": "appliance ",
                      "start": 6.018,
                      "end": 6.494
                    },
                    {
                      "word": "repair ",
                      "start": 6.494,
                      "end": 6.854
                    },
                    {
                      "word": "service.",
                      "start": 6.854,
                      "end": 7.713
                    },
                    {
                      "word": " This ",
                      "start": 7.7255,
                      "end": 7.9575
                    },
                    {
                      "word": "is ",
                      "start": 7.9575,
                      "end": 8.0855
                    },
                    {
                      "word": "Alex—how ",
                      "start": 8.0855,
                      "end": 8.6075
                    },
                    {
                      "word": "can ",
                      "start": 8.6075,
                      "end": 8.7585
                    },
                    {
                      "word": "I ",
                      "start": 8.7585,
                      "end": 8.8395
                    },
                    {
                      "word": "assist ",
                      "start": 8.8395,
                      "end": 9.1535
                    },
                    {
                      "word": "you ",
                      "start": 9.1535,
                      "end": 9.2925
                    },
                    {
                      "word": "today?",
                      "start": 9.2925,
                      "end": 9.8965
                    }
                  ],
                  "metadata": {
                    "response_id": 1
                  }
                },
                {
                  "role": "user",
                  "content": "Hi, Alex. Uh, I want to book an appointment, uh, today at five PM. I have a issue with my Owen.",
                  "words": [
                    {
                      "word": "Hi, ",
                      "start": 11.568999,
                      "end": 11.888999
                    },
                    {
                      "word": "Alex. ",
                      "start": 11.888999,
                      "end": 12.369
                    },
                    {
                      "word": "Uh, ",
                      "start": 12.369,
                      "end": 12.688999
                    },
                    {
                      "word": "I ",
                      "start": 12.688999,
                      "end": 12.928999000000001
                    },
                    {
                      "word": "want ",
                      "start": 12.928999000000001,
                      "end": 13.089
                    },
                    {
                      "word": "to ",
                      "start": 13.089,
                      "end": 13.249
                    },
                    {
                      "word": "book ",
                      "start": 13.249,
                      "end": 13.409
                    },
                    {
                      "word": "an ",
                      "start": 13.409,
                      "end": 13.568999
                    },
                    {
                      "word": "appointment, ",
                      "start": 13.568999,
                      "end": 14.448999
                    },
                    {
                      "word": "uh, ",
                      "start": 14.449,
                      "end": 14.528999500000001
                    },
                    {
                      "word": "today ",
                      "start": 14.949,
                      "end": 15.348999000000001
                    },
                    {
                      "word": "at ",
                      "start": 15.348999000000001,
                      "end": 15.669
                    },
                    {
                      "word": "five ",
                      "start": 15.669,
                      "end": 15.909
                    },
                    {
                      "word": "PM. ",
                      "start": 15.909,
                      "end": 16.389
                    },
                    {
                      "word": "I ",
                      "start": 16.389,
                      "end": 16.628999
                    },
                    {
                      "word": "have ",
                      "start": 16.628999,
                      "end": 16.788999
                    },
                    {
                      "word": "a ",
                      "start": 16.788999,
                      "end": 16.948999
                    },
                    {
                      "word": "issue ",
                      "start": 16.948999,
                      "end": 17.189
                    },
                    {
                      "word": "with ",
                      "start": 17.189,
                      "end": 17.349
                    },
                    {
                      "word": "my ",
                      "start": 17.349,
                      "end": 17.509
                    },
                    {
                      "word": "Owen.",
                      "start": 17.509,
                      "end": 17.909
                    }
                  ]
                },
                {
                  "role": "user",
                  "content": "name is John.",
                  "words": [
                    {
                      "word": "name ",
                      "start": 18.309,
                      "end": 18.548999000000002
                    },
                    {
                      "word": "is ",
                      "start": 18.548999000000002,
                      "end": 18.708999
                    },
                    {
                      "word": "John.",
                      "start": 18.708999,
                      "end": 18.948999
                    }
                  ]
                },
                {
                  "role": "tool_call_invocation",
                  "tool_call_id": "9471b2f191d53089",
                  "name": "transition_to_appointment_booking",
                  "arguments": "{}",
                  "time_sec": 19.124
                },
                {
                  "role": "user",
                  "content": "And my phone number is double two, double four, double six, double eight.",
                  "words": [
                    {
                      "word": "And ",
                      "start": 19.569,
                      "end": 19.809
                    },
                    {
                      "word": "my ",
                      "start": 19.809,
                      "end": 20.208999
                    },
                    {
                      "word": "phone ",
                      "start": 20.208999,
                      "end": 20.449
                    },
                    {
                      "word": "number ",
                      "start": 20.449,
                      "end": 20.689
                    },
                    {
                      "word": "is ",
                      "start": 20.689,
                      "end": 20.929000000000002
                    },
                    {
                      "word": "double ",
                      "start": 20.929000000000002,
                      "end": 21.409
                    },
                    {
                      "word": "two, ",
                      "start": 21.409,
                      "end": 21.809
                    },
                    {
                      "word": "double ",
                      "start": 21.809,
                      "end": 21.969
                    },
                    {
                      "word": "four, ",
                      "start": 21.969,
                      "end": 22.288999
                    },
                    {
                      "word": "double ",
                      "start": 22.288999,
                      "end": 22.448999
                    },
                    {
                      "word": "six, ",
                      "start": 22.448999,
                      "end": 22.769000000000002
                    },
                    {
                      "word": "double ",
                      "start": 22.769000000000002,
                      "end": 23.009
                    },
                    {
                      "word": "eight.",
                      "start": 23.009,
                      "end": 23.169
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "Just to confirm, you're requesting service for an oven, and you'd like the technician to come by today at 5 PM. Your name is ",
                  "words": [
                    {
                      "word": "Just ",
                      "start": 26.081,
                      "end": 26.371
                    },
                    {
                      "word": "to ",
                      "start": 26.371,
                      "end": 26.511
                    },
                    {
                      "word": "confirm, ",
                      "start": 26.511,
                      "end": 27.428
                    },
                    {
                      "word": "you're ",
                      "start": 27.428,
                      "end": 27.66
                    },
                    {
                      "word": "requesting ",
                      "start": 27.66,
                      "end": 28.217
                    },
                    {
                      "word": "service ",
                      "start": 28.217,
                      "end": 28.577
                    },
                    {
                      "word": "for ",
                      "start": 28.577,
                      "end": 28.728
                    },
                    {
                      "word": "an ",
                      "start": 28.728,
                      "end": 28.856
                    },
                    {
                      "word": "oven, ",
                      "start": 28.856,
                      "end": 29.285
                    },
                    {
                      "word": "and ",
                      "start": 29.285,
                      "end": 29.518
                    },
                    {
                      "word": "you'd ",
                      "start": 29.518,
                      "end": 29.738
                    },
                    {
                      "word": "like ",
                      "start": 29.738,
                      "end": 29.947
                    },
                    {
                      "word": "the ",
                      "start": 29.947,
                      "end": 30.063
                    },
                    {
                      "word": "technician ",
                      "start": 30.063,
                      "end": 30.644
                    },
                    {
                      "word": "to ",
                      "start": 30.644,
                      "end": 30.772
                    },
                    {
                      "word": "come ",
                      "start": 30.772,
                      "end": 30.969
                    },
                    {
                      "word": "by ",
                      "start": 30.969,
                      "end": 31.236
                    },
                    {
                      "word": "today ",
                      "start": 31.236,
                      "end": 31.782
                    },
                    {
                      "word": "at ",
                      "start": 31.782,
                      "end": 31.991
                    },
                    {
                      "word": "5 ",
                      "start": 31.991,
                      "end": 32.304
                    },
                    {
                      "word": "PM.",
                      "start": 32.304,
                      "end": 33.117
                    },
                    {
                      "word": " Your ",
                      "start": 33.16275,
                      "end": 33.36075
                    },
                    {
                      "word": "name ",
                      "start": 33.36075,
                      "end": 33.55775
                    },
                    {
                      "word": "is ",
                      "start": 33.55775,
                      "end": 33.70875
                    }
                  ],
                  "metadata": {
                    "response_id": 4
                  }
                },
                {
                  "role": "user",
                  "content": "Yeah.",
                  "words": [
                    {
                      "word": "Yeah.",
                      "start": 33.989,
                      "end": 34.309
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "John, and your phone number is 224-668. Is that correct?",
                  "words": [
                    {
                      "word": "John, ",
                      "start": 33.70875,
                      "end": 34.18475
                    },
                    {
                      "word": "and ",
                      "start": 34.18475,
                      "end": 34.45175
                    },
                    {
                      "word": "your ",
                      "start": 34.45175,
                      "end": 34.61475
                    },
                    {
                      "word": "phone ",
                      "start": 34.61475,
                      "end": 34.85775
                    },
                    {
                      "word": "number ",
                      "start": 34.85775,
                      "end": 35.25275
                    },
                    {
                      "word": "is ",
                      "start": 35.25275,
                      "end": 35.50875
                    },
                    {
                      "word": "224-668. ",
                      "start": 35.50875,
                      "end": 37.34275
                    },
                    {
                      "word": "Is ",
                      "start": 37.38879174804688,
                      "end": 37.493791748046874
                    },
                    {
                      "word": "that ",
                      "start": 37.493791748046874,
                      "end": 37.64479174804688
                    },
                    {
                      "word": "correct?",
                      "start": 37.64479174804688,
                      "end": 38.27179174804687
                    }
                  ],
                  "metadata": {
                    "response_id": 4
                  }
                },
                {
                  "role": "user",
                  "content": "Yeah.",
                  "words": [
                    {
                      "word": "Yeah.",
                      "start": 39.029,
                      "end": 39.349000000000004
                    }
                  ]
                },
                {
                  "role": "user",
                  "content": "Correct.",
                  "words": [
                    {
                      "word": "Correct.",
                      "start": 39.729,
                      "end": 39.969
                    }
                  ]
                },
                {
                  "role": "tool_call_invocation",
                  "tool_call_id": "0f1200c967a489aa",
                  "name": "submit_lead_info",
                  "arguments": "{\"name\":\"John\",\"preferred_time\":\"2025-10-03T17:00:00+05:30\",\"intent\":\"book_appointment\",\"phone\":\"+12246688\"}",
                  "time_sec": 40.802,
                  "type": "custom"
                }
              ],
              "latency": {},
              "call_cost": {
                "product_costs": [],
                "total_duration_seconds": 0,
                "total_duration_unit_price": 0,
                "combined_cost": 0
              },
              "opt_out_sensitive_data_storage": false,
              "data_storage_setting": "everything",
              "opt_in_signed_url": false,
              "from_number": "+15068005091",
              "to_number": "+919345973779",
              "direction": "outbound",
              "telephony_identifier": {
                "twilio_call_sid": "CAec4d2a8b841ee3a9a44b3fa373d35b79"
              }
            },
            "name": "submit_lead_info",
            "args": {
              "name": "John",
              "preferred_time": "2025-10-03T17:00:00+05:30",
              "intent": "book_appointment",
              "phone": "+12246688"
            }
          },
          "webhookUrl": "https://n8n.srv943207.hstgr.cloud/webhook/8db1d48b-573b-4bb9-bf26-935a1f95bba7",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [
          {
            "node": "ISO to Unix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ISO to Unix": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "83767d82-03a4-4443-9969-c7a64a851741",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0bc77d1e83eb271c93d761935713d306621ca9e7f4a7a40c1c9c6764db49cd61"
  },
  "id": "wU9CeVwpuL3CyXtq",
  "tags": [
    {
      "createdAt": "2025-08-12T08:24:41.834Z",
      "updatedAt": "2025-08-12T08:24:41.834Z",
      "id": "jWrDxMNvzo34Sv8G",
      "name": "AI agent"
    },
    {
      "createdAt": "2025-08-05T18:18:07.941Z",
      "updatedAt": "2025-08-05T18:18:07.941Z",
      "id": "jaUsoYXyOhBS7cxY",
      "name": "Demo"
    },
    {
      "createdAt": "2025-08-14T08:29:42.843Z",
      "updatedAt": "2025-08-14T08:29:42.843Z",
      "id": "utTiDFK7dxgbcS4A",
      "name": "Incomplete"
    }
  ]
}